.signup-wrapper {
    width: 90%; /* Increased from the default 70% */
    max-width: 800px; /* Increased the maximum width */
    padding: 2rem; /* Add padding for better spacing */
    box-shadow: var(--shadow);
    border-radius: 1rem;
    background-color: #fff;
    margin: auto;
  }
  

.title {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title span {
    padding-left: 0.5rem;
}